:root {
    --primary-color: #C4170C;
    --primary-dark: #A7140A;
    --main-bg: #F9F9F9;
    --top-nav-bg: #F3F3F3;
    --top-nav-1: #0667de;
    --top-nav-2: #06AA48;
    --top-nav-3: #FF6700;
    --top-nav-4: #FA204C;
    --top-nav-5: #1E4C9A;
}