.link {
  text-decoration: none;
  color: unset;
  white-space: nowrap;

}

.link--hover-blue:hover {
  color: var(--main-blue)
}

.link--icon-spaced {
  display: flex;
  justify-content: space-between;
}

.link--full:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}