.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem;
  margin-top: 5rem;
  background-color: var(--primary-color);
}

.footer-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.footer__logo {
  width: 2.5rem;
  margin-bottom: 1rem;
}
.footer-main {
  display: flex;
  justify-content: space-between;
}
.footer-copy {
  color: white;
  font-size: .85rem;
}
.footer-main > .footer-list {
  display: none;
}
.footer-list__item {
  margin-right: 1rem;
  position: relative;
}
.footer-list__item::after {
  right: -.75rem;
  left: initial;
  color: white;
  content: "|";
}
.bar--before {
  margin-right: 0;
  margin-left: 1rem;
}
.bar--before::after {
  right: initial;
  left: -.75rem;
}
.footer-list__item:last-child::after,
.bar--before:first-child::after {
  display: none;
}



@media(min-width: 768px) {
  .footer-top {
    align-items: center;
    flex-direction: row;
  }
  .footer__logo {
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .footer-top > .footer-list li:last-child {
    display: none;
  }
  .footer-main >.footer-list {
    display: flex;
  }
}